name: Keep App Awake

on:
  schedule:
    - cron: "0 */8 * * *"
  workflow_dispatch:

jobs:
  ping-job:
    name: Ping Streamlit App
    runs-on: ubuntu-latest
    steps:
      - name: Send Curl Request
        run: curl -I https://demo-order-dashboard-heinemann.streamlit.app/